<H1>¿Desea elimminar el siguiente alumno?</H1>
<table>
    <tr>
        <td>Nombre: {{ alumno.nombre }}</td>
    </tr>
    <tr>
        <td>Apellido: {{ alumno.apellido }}</td>
    </tr>
</table>

<form method="post">
    <input type="submit" value="Borrar"/>
</form>
<form method="post" action="/alumnos/">
    <input type="submit" value="Atrás "/>
</form>