<h1>Añadir Profesor</h1>
<form method="post">
    <label>Nombre: </label><input type="text" id="nombre"/>
    <label>Apellidos: </label><input type="text" id="apellidos"/>
    <input type="submit" value="Crear"/>
</form>
