<h1>Modificar Profesor</h1>
<form method="post">
    <label>Nombre: </label><input type="text" name="nombre" id="nombre" value="{{  }}"/>
    <label>Apellidos: </label><input type="text" name="apellidos" id="apellidos" value="{{  }}"/>
    <input type="submit" value="Modificar"/>
</form>
